<!--
    Name: Benton Le
    Student#: 301174103
    Date: 10/5/2022
    Professor: Thiago Vitor De Castilho
    Assignment: Assignment 1
    Course: COMP229-402
-->

<h1> <%= title %>  </h1>

<!-- Main -->
<h2>Who Am I?</h2>
<img width="218" height="288" src="content/images/me.jpg">
<p style="font-size:18px;">My name is Benton Le, I am a student attending Centennial College of Applied Arts & Technology, studying for my OCAD in Software Engineering Technology.<br>
   My hobbies include: playing videos games and reading.
</p>

<!-- Simple link to pdf file-->
<h2>Resume</h2>
<p style="font-size:18px;">Click the link below to download my most recent resume</p>
<a href="/content/files/Benton-resume.pdf">Resume download</a>
<!-- - - - - - - -->