<!--
    Name: Benton Le
    Student#: 301174103
    Date: 10/5/2022
    Professor: Thiago Vitor De Castilho
    Assignment: Assignment 1
    Course: COMP229-402
-->

<link rel="stylesheet" href="./content/app.css">
<h1> <%= title %>  </h1>
<br>
<h2>Mission Statement</h2>
<p style="font-size: 16px; font-family: Times New Roman;"> 
    Welcome to my website!!<br>
    My mission statement for this course is the try my best to achieve the best marks possible.<br>
    But at the same time try not to over-exert myself.
</p>

