<!--
    Name: Benton Le
    Student#: 301174103
    Date: 10/5/2022
    Professor: Thiago Vitor De Castilho
    Assignment: Assignment 1
    Course: COMP229-402
-->

<link rel="stylesheet" href="content/app.css">
<h1> <%= title %>  </h1>

<br>

<table>
    <tr>
        <th><h2>Black Jack - Visual Studio - C#</h2></th>
        <th><h2>Multiplayer - Unity - C#</h2></th>
        <th><h2>Book ISBN Scanner - Visual Studio - C++</h2></th>
    </tr>
    <tr>
        <td>
            <a href="/content/images/blackjack.png" target="_blank">
                Click link to see picture in a new tab.
            </a>
        </td>
        <td>
            <a href="/content/images/unity.png" target="_blank">
                Click link to see picture in a new tab.
            </a>
        </td>
        <td>
            <a href="/content/images/croppedImg.png" target="_blank">
                Click link to see picture in a new tab.
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <p>
                Role: Individually created a game using C#.<br>
                First must bid a wager before starting.<br>
                Then just get to playing BlackJack. <br>
                Outcome: Functional bidding BlackJack game.
            </p>
        </td>
        <td>
            <p>
                Role: Individually created a game using C# in the Unity engine.<br>
                Allows multiplayer with hosting capabilities. <br>
                WASD keys for movement, and spacebar to jump.<br>
                Gun - Nonfunctional<br>
                Outcome: A functional hosting capability multiplayer game demo.
            </p>
        </td>
        <td>
            <p>
                Role: Worked in a group of 3 to develop a Book ISBN scanner. <br>
                Developed the camera isbn scanner that retrieved book information from library API. <br>
                Outcome: A Camera that can scan a book ISBN to retrieve information about the book.
            </p>
        </td>
    </tr>
    https://drive.google.com/file/d/1bhvU7B0AaeHqbo_KnFBryvSDfseCTHMf/view?usp=sharing, https://drive.google.com/file/d/1kg80SBQTVdImpSiV9iYCTwiO-0b25PKw/view?usp=sharing   
    <tr>
        <td><a id="link" href="/content/files/blackjack.zip">BlackJack .zip Download</a></td>
        <td><a id="link" href="https://drive.google.com/drive/folders/1hbhBSRoRXgnPgqWnQqEVF_j32OuQOpct?usp=sharing">Unity_Multiplayer .zip Download</a></td>
        <td><a id="link" href="https://drive.google.com/drive/folders/1hbhBSRoRXgnPgqWnQqEVF_j32OuQOpct?usp=sharing">BookISBN .zip Download</a></td>
    </tr>
</table>