<!--
    Name: Benton Le
    Student#: 301174103
    Date: 10/5/2022
    Professor: Thiago Vitor De Castilho
    Assignment: Assignment 1
    Course: COMP229-402
-->

<!-- Head -->
<h1> <%= title %>  </h1>

<!-- Main -->
<h2>List of services:</h2><br>
<ul>
    <li>General Programming</li>
    <ul>
        <li>C#, C, C++, Objective-C, Swift</li>
        <li>Java, JavaScript, HTML5</li>
        <li>SQL</li>
    </ul>
    <li>Unity Development</li>
    <li>Android/IOS Development</li>
</ul>
<p>Click for Full Size of SQL-oracle12c</p>
<a href="content/images/iu.png"><img width="328" height="328" src="content/images/iu.png"></a>